# 03 - processing datetimes

# this week's exercise:
read in the new york rodent inspection data from last week. parse the date format of the two columns containing datetime information ('INSPECTION_DATE' and 'APPROVED_DATE'). hint: new york is in the united states. then, for each record (row), populate four new columns: 
- one containing the weekday name when the inspection took place (monday, tuesday, wednesday,...). 
- one containing the name of the month the inspection took place in.
- one containing the [iso-week](https://en.wikipedia.org/wiki/ISO_week_date) in which the inspection took place. 
- one column containing how long did it take for an inspection to be approved (in appropriate time units).

In [1]:
import pandas as pd

In [2]:
rodent_df = pd.read_csv('/Users/katiea/git/python_workshops/python_exercises/exercises/03 dates_and_times/NY_rodent_inspections_sample_medium.csv',
                       parse_dates=['INSPECTION_DATE', 'APPROVED_DATE'])

In [3]:
rodent_df.head()

,INSPECTION_TYPE,JOB_TICKET_OR_WORK_ORDER_ID,JOB_ID,JOB_PROGRESS,BBL,BORO_CODE,BLOCK,LOT,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,APPROVED_DATE,LOCATION
0,BAIT,1,PO12965,3,1011470035,1,1147,35,104,WEST 76 STREET,10023,990505,223527,40.780204,-73.977414,Manhattan,2009-10-14 12:00:27,Bait applied,2009-10-14 15:01:46,"(40.7802039792471, -73.9774144709456)"
1,BAIT,2,PO12966,3,1011470034,1,1147,34,102,WEST 76 STREET,10023,990516,223521,40.780188,-73.977375,Manhattan,2009-10-14 12:51:21,Bait applied,2009-10-14 15:02:30,"(40.7801875030438, -73.977374757787)"
2,BAIT,30,PO16966,3,2043370027,2,4337,27,620,THWAITES PLACE,10467,1020110,252216,40.858877,-73.870364,Bronx,2009-11-09 12:59:55,Bait applied,2009-11-10 14:54:52,"(40.8588765781972, -73.8703636422023)"
3,BAIT,31,PO13665,3,2037670077,2,3767,77,1227,WHITEPLAINS ROAD,10472,1022441,242180,40.831321,-73.861994,Bronx,2009-11-09 11:10:16,Bait applied,2009-11-10 14:56:42,"(40.8313209626148, -73.861994089899)"
4,BAIT,38,PO11291,3,1011690057,1,1169,57,2199,BROADWAY,10024,989641,224567,40.783059,-73.980533,Manhattan,2009-11-10 08:40:42,Bait applied,2009-11-17 11:39:11,"(40.7830590725833, -73.9805333640688)"

In [4]:
# Showing that the dates have been parsed 
rodent_df.dtypes

INSPECTION_TYPE                        object
JOB_TICKET_OR_WORK_ORDER_ID             int64
JOB_ID                                 object
JOB_PROGRESS                            int64
BBL                                     int64
BORO_CODE                               int64
BLOCK                                   int64
LOT                                     int64
HOUSE_NUMBER                           object
STREET_NAME                            object
ZIP_CODE                                int64
X_COORD                                 int64
Y_COORD                                 int64
LATITUDE                              float64
LONGITUDE                             float64
BOROUGH                                object
INSPECTION_DATE                datetime64[ns]
RESULT                                 object
APPROVED_DATE                  datetime64[ns]
LOCATION                               object
dtype: object

In [5]:
# Add a column providing weekday name 
rodent_df['weekday_name'] = rodent_df.apply(lambda row: row['INSPECTION_DATE'].strftime("%A"),axis=1)

In [6]:
# Add a column providing month name 
rodent_df['month_name'] = rodent_df.apply(lambda row: row['INSPECTION_DATE'].strftime("%B"),axis=1)

In [7]:
# Add a column providing ISO week number
rodent_df['iso_week'] = rodent_df.apply(lambda row: row['INSPECTION_DATE'].isocalendar()[1],axis=1)

In [8]:
# Add a column providing the number of hours between inspection and approved date
rodent_df['time_to_approval_in_hours'] = rodent_df.apply(lambda row: ((row['APPROVED_DATE'] - row['INSPECTION_DATE']).days * 24) + ((row['APPROVED_DATE'] - row['INSPECTION_DATE']).seconds / (60*60)), axis=1)

In [9]:
rodent_df.head()

,INSPECTION_TYPE,JOB_TICKET_OR_WORK_ORDER_ID,JOB_ID,JOB_PROGRESS,BBL,BORO_CODE,BLOCK,LOT,HOUSE_NUMBER,STREET_NAME,...,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,APPROVED_DATE,LOCATION,weekday_name,month_name,iso_week,time_to_approval_in_hours
0,BAIT,1,PO12965,3,1011470035,1,1147,35,104,WEST 76 STREET,...,-73.977414,Manhattan,2009-10-14 12:00:27,Bait applied,2009-10-14 15:01:46,"(40.7802039792471, -73.9774144709456)",Wednesday,October,42,3.021944
1,BAIT,2,PO12966,3,1011470034,1,1147,34,102,WEST 76 STREET,...,-73.977375,Manhattan,2009-10-14 12:51:21,Bait applied,2009-10-14 15:02:30,"(40.7801875030438, -73.977374757787)",Wednesday,October,42,2.185833
2,BAIT,30,PO16966,3,2043370027,2,4337,27,620,THWAITES PLACE,...,-73.870364,Bronx,2009-11-09 12:59:55,Bait applied,2009-11-10 14:54:52,"(40.8588765781972, -73.8703636422023)",Monday,November,46,25.915833
3,BAIT,31,PO13665,3,2037670077,2,3767,77,1227,WHITEPLAINS ROAD,...,-73.861994,Bronx,2009-11-09 11:10:16,Bait applied,2009-11-10 14:56:42,"(40.8313209626148, -73.861994089899)",Monday,November,46,27.773889
4,BAIT,38,PO11291,3,1011690057,1,1169,57,2199,BROADWAY,...,-73.980533,Manhattan,2009-11-10 08:40:42,Bait applied,2009-11-17 11:39:11,"(40.7830590725833, -73.9805333640688)",Tuesday,November,46,170.974722